@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-cream: #fcf5df;
  --color-green: #4affd7;
  --color-orange: #d99d00;
  --color-gray: #7e7b71;
  --color-chino: #ccc3a6;
  --color-gold: #fcb913;
  --color-emperor: #535353;
  --color-blue: #0957c3;
  --color-crimson: #d91a17;
  --color-choco: #d6a461;
  --color-violet: #9b59ff;
  --color-pink: #ff3d81;
}

/* Set Rationale as default font */
body {
  font-family: var(--font-rationale);
}

.primary {
  font-family: var(--font-rationale);
}

.secondary {
  font-family: var(--font-montserrat-alternates);
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }

  .bordered { 
    @apply border border-gold/30 hover:border-gold/50 duration-300
  }

  .brightness {
    @apply brightness-90 hover:brightness-100 duration-300;
  }

  option { 
    @apply bg-stone-900 text-gold;
  }

  input,
  textarea,
  select {
    @apply appearance-none rounded-none relative block w-full px-2 py-1 lg:px-3 lg:py-2 border border-orange/40 placeholder-gold/40 text-gold bg-gold/20 focus:outline-none focus:ring-2 focus:ring-orange duration-300;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background: #fcf5df; /* or your preferred color */
}
::-webkit-scrollbar-thumb {
  background: #444; /* or your preferred color */
}
::-webkit-scrollbar-thumb:hover {
  background: #fcf5df;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #fcf5df transparent;
}

/* Fix scroll position on navigation */
html {
  scroll-behavior: smooth;
}

.right-clip {
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
}

.left-clip {
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

